@charset "utf-8";
a {
    cursor: pointer;
}
.menu {
    height: 54px !important;
}
.son_nav {
    display: none;
}
.index_right {
    position: relative;
    float: right;
    border: 1px solid #B9DAF7;
    background: url("http://yinliu1.zhushou001.com/recommend/img/index_right_bg.png") 0px -1px repeat-x;/*height: 599px;*//*修改的地方*/
}
.right_title {
    position: absolute;
    float: right;
    right: 15px;
    top: 10px;
    width: 200px;
    height: 32px;
    background: url(../img/index_recomment_title1.png)right no-repeat;
}
.recomment_index_tips {
    padding: 20px 0px;
    width: 680px;
    margin: auto;
    line-height: 24px;
    text-align: center;
    font-size: 14px;
    font-family: "微软雅黑";
}
.recomment_open_btn {
    height: 60px;
    margin: 40px auto 10px auto;
}
.recomment_open_btn a {
    display: block;
    width: 192px;
    height: 65px;
    background: url("http://yinliu1.zhushou001.com/recommend/img/close_open_btn.png") no-repeat;
    margin: auto;
}
.recomment_open_btn .open_btn {
    background-position: 0px -8px;
}
.recomment_open_btn .open_btn:hover {
    background-position: 0px -77px;
}
.recomment_open_btn .close_btn {
    background-position: 0px -147px;
}
.recomment_open_btn .close_btn:hover {
    background-position: 0px -218px;
}
.box_4 {
    clear: both;
    padding-top: 15px;
    padding-bottom: 10px;
    color: #666;
}
.box_4 dt {
    float: left;
    font-size: 12px;
    line-height: 28px;
    overflow: hidden;
    font-weight: bold;
    padding-left: 40px;
    text-align: left;
    text-indent: 20px;
    width: 200px;
}
.box_4 dd {
    float: left;
    line-height: 28px;
    padding-left: 15px;
    width: 500px;
    z-index: 0;
}
/*手机详情*/

.ui-about-list {
    margin: 7px 40px;
}
.ui-about-list li {
    color: #434a54;
    clear: both;
    float: left;
    width: 760px;/*修改的地方*/
    margin-top: 10px;
}
.ui-content-list {
    width: 600px;
    text-align: center;
}
.ui-side-list {
    float: left;
    line-height: 36px;
    font-size: 14px;
    text-align: right;/*修改的地方*/
    width: 100px;/*修改的地方*/
    margin-right: 5px;
}
/*增加修改的地方*/
.class_list {
    float: left;
}
.dl_check {
    float: left;
    padding-left: 92px;
    background: #FAFAFC;
    border: 1px solid #EBECED;
    border-radius: 5px;
}
.input_list{ float: left;margin-left: -41px;width: 803px;}
.ui-record-table{border: 1px solid #EBECED; border-left:none; border-right:none;}
.input_list th{ border:none;font-weight: bold;}
.input_list td{ border:none; border-bottom:1px dashed #EBECED; color:#666;}
.text_type_1{
    font-size: 12px;
    color:#666;}
.text_type_1:hover{ color:#5694E1;}
.baby_photo{ padding: 15px 6px;}
.item-search-cta {
    padding-top: 5px;
    height: 35px;
    border-top: 1px dotted #EEE;
    float: left;
    font-size: 13px;
    color: #666;
    width: 803px;
    margin-left: -41px;
    padding-top: 15px;
}

/*新增搜索样式*/
.price-cta {
    padding-top: 5px;
    height:42px;
    float: left;
    margin-left:-34px;
    font-size: 12px;
    color: #666;
    width: 803px;
}
.price_range{float: left;
    width: 295px;}
.price-cta input {
    float: left;
    line-height: 21px;
    width: 75px;
    margin-top: 3px;
}
.input_text {
    background-color: #FFF;
    border: 1px solid #D3D3D3;
    padding: 2px 8px;
}
.list_func .lbl-price, .price-cta .to {
    float: left;
    margin: 7px 5px;
}
.search-key-cta{float:left;margin-left: 25px;}
.search-key-cta .key {
    float: left;
    margin-top: 3px;
    width: 150px;
    height: 22px;
}
/* 搜索按钮*/
.search-key-cta .btn-search {
    float: left;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    margin-top: 4px;
}

.search-key-cta .btn-item-sync {
    float: left;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    margin-top: 4px;
}

.t_btn_yellow {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0px 18px;
    border: 1px solid #F60;
    background-color: #FE8C00;
    margin: 0px 5px;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
}

.t_btn_yellow:hover {
    background-color: #F60;
    color: #FFF;
}
.search-key-cta .lbl-key {
    float: left;
    line-height: 34px;
}

/* 分页样式 */

div.scott {
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 0px;
    margin: 3px;
    padding-top: 3px;
    text-align: center
}

div.scott a {
    background: #FFF;
    border: #ddd 1px solid;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 2px;
    color: #88af3f;
    margin-right: 2px;
    padding-top: 2px;
    text-decoration: none;
}

div.scott a:hover {
    border: #85bd1e 1px solid;
    color: #638425;
    background-color: #f1ffd6;
}

div.scott a:active {
    border: #85bd1e 1px solid;
    background-color: #f1ffd6;
}

div.scott span.current {
    border: #b2e05d 1px solid;
    padding-right: 5px;
    padding-left: 5px;
    font-weight: bold;
    padding-bottom: 2px;
    color: #fff;
    margin-right: 2px;
    padding-top: 2px;
    background-color: #b2e05d
}

div.scott span.disabled {
    border: #ddd 1px solid;
    padding-right: 5px;
    padding-bottom: 2px;
    color: #ccc;
    margin-right: 2px;
    padding-top: 2px;
}
.btn_gray_small {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0px 10px;
    background-color: #EEE;
    border: 1px solid #CCC;
    margin: 0px 5px;
    font-size: 12px;
    font-family: "宋体";
    color: #000;
}

/*增加修改的地方*/




.beautify_radio {
    padding-left: 30px;
    background-image: url(file:///E|/4%E6%9C%88/hlg-app-common.png);
    background-repeat: no-repeat;
    background-position: -142px -373px;
}
.winxintips_phone {
    margin-bottom: 5px;
    margin-left: 32px;
    padding: 0px 5px;
    border: 1px solid #FFD679;
    border-radius: 5px;
    background-color: #FFF8E4;
    padding: 10px 10px;
}
.winxintips_phone h3 {
    font-weight: normal;
    color: #217f00;
    padding-left: 20px;
    padding-bottom: 6px;
    background: url("http://imgcache.qq.com/bossweb/pay/public/share_icon.png") no-repeat 0 -427px;
    font-family: "微软雅黑";
    font-size: 14px;
}
.winxintips_phone ol {
    padding: 0 25px;
}
.button-blue:hover {
    border: 1px solid #5694E1;
    background-color: #5694E1;
    color: #fff;
    text-decoration: none;
}
.button {
    display: inline-block;
    padding: 0 20px;
    margin-bottom: 0;
    font-size: 16px;
    height: 38px;
    line-height: 38px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    background-image: none;
    border: 1px solid #64ABEB;
    background-color: #64ABEB;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    color: #fff;
    width: 150px;
}
/*选框样式*/
.phone_radio {
    padding: 10px 10px 10px 0px;
    font-size: 14px;
    float: left;
}
label.checkbox {
    padding-left: 24px;
    cursor: pointer;
    background: url(../img/checkbox.png) no-repeat 0 0;
    line-height: 15px;
    height: 21px;
    display: inline-block;
    margin-bottom: 10px;
    width: 185px;
    font-size: 13px;
}
label.checked {
    background-position: left 100%;
}
label.disabled {
    background-position: left 0px;
}
.rate-cont {
    width: 480px;
    padding: 10px 25px;
    background: #FAFAFC;
    border: 1px solid #EBECED;
    border-radius: 5px;
    float: left;
    margin-left: 40px;
    margin-bottom:25px;
    color: #8D95A1;
}
/*手机生成详情记录*/
.table-list {
    width: 100%;
}
table th {
    height: 55px;
    font-weight: 400;
    color: #666;
    background: #f6f7fb;
    border: 1px #eff1f4 solid;
}
table td {
    height: 60px;
    text-align: center;
    border: 1px #eff1f4 solid;
    color: #999;
}
.button_1 {
    display: inline-block;
    padding: 0 20px;
    margin-bottom: 0;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    background-image: none;
    border: 1px solid #64ABEB;
    background-color: #64ABEB;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    color: #fff;
}
